
/* Header - Flexbox*/
.group {
	display: flex;
	flex-direction: row;
  justify-content: space-evenly;
}

.item {
	flex: 1;
	margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}

/* ---  Navigation --- */
header h1 {
text-align: left;
margin: 5px 5px 5px 0px;
}

header nav {
display: flex;
flex-direction: row;
justify-content: right;
margin: 5px 5px 5px 5px;
}

header nav ul {
	display: flex;
  flex-direction: row;
}

header nav ul li {
	list-style: none;
	/*Removes the bullet points from the list items within the unordered list.*/
}
header nav ul li a {
	text-decoration: none; /* Removes the underline from the link. */
	margin: 0 20px 0 0;
	/* Applies 20 pixels of margin to the right of each link creating a visual gap between the navigation links. */
}

/* -------  General Styles ------- */
section {
margin: 5px 5px 5px 5px;
}

body {
	background-color: #ffffff;
	font-family: sans-serif;
	color: #55403f;
}

header {
	background-color: #e7e7e7;
  margin: 5px 5px 5px 5px;
}

footer {
	background-color: #e7e7e7;
  color: #02546d;
	height: 60px;
	padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
}
p, li {
color: #000000;
}

h1,
h2,
h3,
h4 {
	color: #02546d;
}

.image-profile {
  opacity:0.85;
  width: 250px;
  height: 300px;
  object-fit: cover;
}

.image-about {
  opacity:0.85;
  width: 100%;
}

a {
	font-family: sans-serif; 
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  margin: 5px 5px 5px 5px;
	font-size: 15px;
}
a:link {
	color: #2392b4;
}
a:visited {
	color: #02546d;
}
a:hover {
	color: #02546d;
}
a:active {
	color: #2392b4;	
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  text-align: center;
  padding: 10px 10px;
}

form label {
	display: block;
	color: #02546d;
	font-family: sans-serif;
}

/* ---  Contact Me & Form Design --- */

form input,
form textarea {
	border-radius: 5px;
	font-family: sans-serif;
	width: 90%;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
}

form input{
	border: 2px solid #02779b;
}

form textarea {
	height: 160px;
	border: 2px solid #02779b;
}

form button {
	display: block;
	padding: 10px 16px;
	border-radius: 10px;
	border: 0;
	font-family: sans-serif;
	font-size: 16px;
	background: #02779b;
	color: #ffffff;
	margin: 0 8px 10px 0;
	

/* ---  (Desktop) Groups & Items --- */
@media all and (min-width: 600px) {
	.group {
		flex-direction: row;
  /*When the web browser is 600 pixels or larger the flex-direction becomes row instead of column*/
	}
}